In [1]:
import pandas as pd
import numpy as np
from IVClassification import *

In [2]:
CigarettesSW = pd.read_csv('https://vincentarelbundock.github.io/Rdatasets/csv/AER/CigarettesSW.csv',
                 index_col=0)
CigarettesSW.head()

,state,year,cpi,population,packs,income,tax,price,taxs
rownames,,,,,,,,,
1,AL,1985,1.076,3973000,116.486282,46014968,32.500004,102.181671,33.348335
2,AR,1985,1.076,2327000,128.534592,26210736,37.000000,101.474998,37.000000
3,AZ,1985,1.076,3184000,104.522614,43956936,31.000000,108.578751,36.170418
4,CA,1985,1.076,26444000,100.363037,447102816,26.000000,107.837341,32.104000
5,CO,1985,1.076,3209000,112.963539,49466672,31.000000,94.266663,31.000000